@import url("https://fonts.googleapis.com/css?family=Montserrat|Pacifico|Quicksand&display=swap");
h2,
h3,
li {
  font-family: "Quicksand", sans-serif;
}

.homePageUpper {
  background-image: url("../images/backgroundOne.jpg");
  background-size: cover;
  color: white;
  padding: 5% 0 0% 0;
  text-shadow: 2px 2px black;
  img {
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  a {
    color: white;
  }
  h1 {
    padding: 0% 0 5% 0;
    text-align: center;
    font-size: 7em;
    font-family: "Pacifico", cursive;
  }
  h2 {
    text-align: center;
    font-size: 3em;
    padding-top: 3%;
    padding-bottom: 20%;
  }
  h3 {
    font-size: 2em;
    padding-bottom: 20%;
    text-align: center;
  }
}
.projects {
  background-color: #aec6cf;
  color: black;
  padding: 10% 0 10% 0;
  h1 {
    text-shadow: 2px 2px #00a4a3;
    padding: 0% 0 5% 0;
    text-align: center;
    font-size: 7em;
  }
  h2 {
    text-shadow: 2px 2px #00a4a3;
    font-size: 4em;
  }
  h3,
  li {
    color: black;
    font-size: 2em;
  }
  .slide {
    padding: 15% 0 15% 0;
  }
  .FontAwesomeIcon {
    filter: drop-shadow(0 0 0.75rem yellow);
  }
}
.homePageMiddleBio {
  text-align: center;
  background-color: #ebebf7;
  color: #2e2d2d;
  h2 {
    text-align: center;
    font-size: 4em;
    padding: 3% 0 3% 0;
  }
  h3 {
    font-size: 2.5em;
    padding-bottom: 20%;
    text-align: center;
  }
  .FontAwesomeIconGroup {
    text-align: center;
    padding-bottom: 2%;
    .FontAwesomeIcon {
      padding: 1%;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .homePageUpper {
    background-image: url("../images/backgroundTwo.jpg");

    h1 {
      font-size: 4em;
    }
    h3,
    h2 {
      font-size: 3em;
    }
  }
  .projects {
    h1 {
      font-size: 5em;
    }
    h2 {
      font-size: 3em;
    }
    h3,
    li {
      font-size: 2em;
    }
  }
  .homePageMiddleBio {
    h2 {
      font-size: 3em;
    }
    h3 {
      font-size: 1.5em;
    }
    .FontAwesomeIconRow {
      padding-bottom: 3%;
    }
  }
}
.glow {
  -webkit-animation: glow 1.4s ease-in-out infinite alternate;
  -moz-animation: glow 1.4s ease-in-out infinite alternate;
  animation: glow 1.4s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffffff,
      0 0 40px #ffff28, 0 0 50px #ffff28, 0 0 60px #ffff28, 0 0 70px #ffff28;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fbee26, 0 0 40px #fbee26,
      0 0 50px #fbee26, 0 0 60px #fbee26, 0 0 70px #fbee26, 0 0 80px #fbee26;
  }
}
